/* #region General Reset*/
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.6;
}

button,
h1,
h2,
h3,
h4,
input,
label {
  line-height: 1.1;
  font-family: inherit;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

:target {
  scroll-margin-block: 5ex;
}

/* #endregion */

/* Custom properties */
:root {
  --ff-primary: 'Nunito Sans', sans-serif;

  --fs-body: 14px;
  --fs-detail: 16px;

  --bs: 0px 2px 22px -3px rgba(0, 0, 0, 0.2);
}

/* #region Theme settings */
body {
  --clr-bg: hsl(0 0% 98%);
  --clr-text: hsl(200 15% 8%);
  --clr-input: hsl(0 0% 52%);
  --clr-elements: hsl(0 0 100%);
}

body.dark {
  --clr-bg: hsl(207 26% 17%);
  --clr-text: hsl(0 0% 100%);
  --clr-input: hsl(0 0% 52%);
  --clr-elements: hsl(209 23% 22%);
}
/* #endregion */

/* #region utility classes */

.fs-300 {
  font-weight: 300;
}
.fs-600 {
  font-weight: 600;
}
.fs-800 {
  font-weight: 800;
}

.container--md {
  padding: 1em 2em;
  border-radius: 0.4em;
  background-color: var(--clr-elements);
  box-shadow: var(--bs);
}
.container--sm {
  padding: 0.4em 1em;
  border-radius: 0.4em;
  background-color: var(--clr-elements);
  box-shadow: var(--bs);
}

/* #endregion */

body {
  font-family: var(--ff-primary);
  font-optical-sizing: auto;
  font-variation-settings: 'wdth' 100, 'YTLC' 500;

  color: var(--clr-text);
  background-color: var(--clr-bg);
}

svg {
  color: var(--clr-text);
}

/* #region navbar */

.navbar--wrapper {
  background-color: var(--clr-elements);
  box-shadow: var(--bs);
  padding: 2em 1em;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  margin-inline: auto;
}

.navbar--title {
  font-size: 1.2rem;
  margin-right: auto;
}

.navbar--icon {
  width: 1.3em;
  margin-right: 0.5em;
  align-self: baseline;
}

.theme--text {
  display: inline-block;
  cursor: pointer;
}

/* #endregion */

/* #region main */

.home--container {
  padding: 2em 1em;
  margin-inline: auto;
  max-width: 1920px;
}

/* #endregion */

.action--container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

/* #region search bar */

/* FIXME: width container */

.search--container {
  width: 100%;
  display: flex;
  gap: 1em;
}

.search--icon {
  width: 2em;
}

.search--input {
  width: 100%;

  color: var(--clr-text);
  font-size: var(--fs-body);
  letter-spacing: 0.5px;

  border: none;
  outline: none;

  background-color: var(--clr-elements);
}

.search--input:focus,
.search--input:active {
  border: none;
}

/* #endregion */

/* #region dropdown */

.filter--container {
  position: relative;
  max-width: 300px;
  width: 70%;
  padding-inline: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter--container:hover {
  cursor: pointer;
}

.filter--region {
  display: inline-block;
}

.dropdown--icon {
  width: 2em;
  transition: all 30ms ease-in-out;
}

.dropdown--icon.open {
  transform: rotate(180deg);
}

.region--options {
  position: absolute;
  top: 110%;
  left: 0%;
  width: 100%;
  height: 0;
  padding-block: 0;
  overflow: hidden;

  transition: all 30ms ease-in-out;
}

.region--options p {
  width: 100%;
}

.region--options.open {
  padding: 1em 1.5em;
  height: fit-content;
  background-color: inherit;
}

/* TODO: Add hover states */

.region--options > * + * {
  margin-top: 0.5em;
}

/* #endregion */

.countries--container {
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  row-gap: 3em;
}

/* #region country */
.country {
  overflow: hidden;
  border-radius: 0.4em;
  box-shadow: var(--bs);
  width: 80vw;

  height: 380px;
}

.country--flag {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.country--detail {
  padding: 2em;
}

.country--detail h2 {
  margin-bottom: 1rem;
}

.detail--key {
  font-weight: 600;
}

/* #endregion */

.detail--container {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
}

/* #region back button */
.back--btn {
  display: flex;
  align-items: center;
  gap: 0.5em;
  width: fit-content;
}

.back--icon {
  width: 2em;
}
/* #endregion */

/* #region Detail Body */

.detail--body {
  width: 100%;
  margin-top: 3em;
}

.detail--body--top {
  margin-top: 3rem;
}

.detail--body--top h2 {
  font-size: 2.2rem;
}

.detail--meta {
  margin-block: 2em;
  font-weight: 300;
}

.detail--meta > p + p {
  margin-top: 0.5em;
}

.detail--meta--bottom {
  display: flex;
  flex-direction: column;
}

.border--countries {
  margin-top: 1.5em;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

/* #endregion  */

@media screen and (min-width: 768px) {
  .action--container {
    margin-inline: 1.5em;
    flex-direction: row;
    justify-content: space-between;
  }

  .search--container {
    width: auto;
    flex: 1;
    max-width: 40vw;
  }

  .country {
    max-width: 300px;
  }

  .navbar {
    padding-inline: 2em;
  }

  .detail--container {
    padding: 4em;
  }

  .detail--meta--top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .detail--container {
    max-width: 1400px;
  }

  .detail--body {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 5em;
  }

  .detail--flag {
    max-width: 40vw;
  }

  .detail--body--top {
    margin-top: 0;
    width: 50%;
  }

  .detail--meta--top {
    display: flex;
    justify-content: space-between;
  }

  .detail--meta--bottom {
    flex-direction: column;
    gap: 2em;
  }

  .border--countries {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .detail--body {
    align-items: center;
    gap: 6em;
  }

  .detail--meta--bottom {
    flex-direction: row;
    align-items: first baseline;
  }

  .detail--meta--bottom h3 {
    min-width: fit-content;
  }
}

@media screen and (min-width: 1450px) {
  .countries--container {
    column-gap: 2em;
  }
}
